@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;900&display=swap');

.video {
    width: 95vw;
    height: 360px;
    /* Nice thin banner height */
    object-fit: cover;
    /* Fills the space, no black bars */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: block;
}

.slider {
    position: relative;
    margin-top: 80px;
    /* Space from navbar if needed */
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    max-width: 90vw;
    object-fit: contain;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.backArrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide-current {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.Sign-in-Container {
    display: flex;
    align-items: center;
}

.Check-Out-container {
    display: flex;
    align-items: center;

}

.person-icon {
    width: 35px;
}

.search-container {
    display: flex;
    align-items: center;
}

.searchicon,
.cart-icon {
    width: 50px;
}